<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/home.css" />
    <title>nacre</title>
  </head>
  <body class="spectrum-background">
    <div class="container">
      <div class="centered-element error-message">
        <h1>{{ .Title }}</h1>
        <p><strong>{{ .Name }}: </strong>{{ .Description }}</p>
        <p>Click <a href="/">here</a> to go back to the homepage.</p>
      </div>
    </div>
  </body>
</html>
